/* Variable defs */
.sigchi-gallery {
  /* Articles */
  --gallery-col-width: 30%;
  --gallery-gutter: 15px;

  --article-border: 2px solid #555555;
  --article-padding: 10px;
  --article-thumbnail-width: 40%;
  --abstract-height: 25%;

  --star-size: 35px;
  --star-margin: 10px;
  --star-active: gold;
  --star-inactive: gray;
  --star-inactive-opacity: 0.2;
}

/* Utils */
.ctn {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1 1 auto;
}

.wrap {
  flex-wrap: wrap;
}

.down {
  flex-direction: column;
}

.ctr {
  justify-content: center;
}

.ctr-item {
  align-self: center;
}

/* Articles */
.star-box {
  opacity: var(--star-inactive-opacity);
  position: absolute;
  top: 0;
  right: 0;

  margin: var(--star-margin);
  width: var(--star-size);
  height: var(--star-size);
}

.star-box.active {
  opacity: 1;
}

.star {
  fill: var(--star-inactive);
}

.star-box.active .star {
  fill: var(--star-active);
}

.sigchi-gallery article {
  border: var(--article-border);
  position: relative;
  width: var(--gallery-col-width);
  margin: var(--gallery-gutter);
  padding: var(--article-padding);
}

.sigchi-gallery article h3, .sigchi-gallery article p {
  text-align: center;
}

.sigchi-gallery .abstract {
  border-top: var(--article-border);
  min-height: var(--abstract-height);
  overflow: scroll;
}

.sigchi-gallery .abstract p {
  text-align: left;
}

.sigchi-gallery .abstract label {
  font-weight: bold;
}

.sigchi-gallery .head h3 {
  text-transform: uppercase;
  text-align: left
}

.sigchi-gallery .thumb-img {
  max-width: var(--article-thumbnail-width);
  height: auto;
}
