/* Variable defs */
.ns-sigchi .gallery {
  /* Articles */
  --gallery-col-width: 30%;
  --gallery-gutter: 15px;

  --article-border: 2px solid #555555;
  --article-padding: 10px;
  --article-thumbnail-width: 40%;
  --abstract-height: 25%;

  --star-size: 35px;
  --star-margin: 10px;
  --star-active: gold;
  --star-inactive: gray;
  --star-inactive-opacity: 0.5;
}

/* Utils */
.ns-sigchi .ctn {
  display: flex;
  flex-direction: row;
}

.ns-sigchi .col {
  flex: 1 1 auto;
}

.ns-sigchi .wrap {
  flex-wrap: wrap;
}

.ns-sigchi .down {
  flex-direction: column;
}

.ns-sigchi .ctr {
  justify-content: center;
}

.ns-sigchi .ctr-item {
  align-self: center;
}

/* Articles */
.ns-sigchi .star-item,
.ns-sigchi .star {
  position: absolute;
  top: 0;
  right: 0;
}

.ns-sigchi .star-item {
  margin: var(--star-margin);
  width: var(--star-size);
  height: var(--star-size);
}

.ns-sigchi .star {
  opacity: var(--star-inactive-opacity);
  color: var(--star-inactive);
  font-size: var(--star-size);
}

.ns-sigchi .star-item input {
  opacity: 0;
}

.ns-sigchi .star-item input:checked + .star {
  opacity: 1;
  color: var(--star-active);
}

.ns-sigchi .gallery article {
  border: var(--article-border);
  position: relative;
  width: var(--gallery-col-width);
  margin: var(--gallery-gutter);
  padding: var(--article-padding);
}

.ns-sigchi .gallery article h3,
.ns-sigchi .gallery article p {
  text-align: center;
}

.ns-sigchi .gallery .abstract {
  border-top: var(--article-border);
  min-height: var(--abstract-height);
  overflow: scroll;
}

.ns-sigchi .gallery .abstract p {
  text-align: left;
}

.ns-sigchi .gallery .abstract label {
  font-weight: bold;
}

.ns-sigchi .gallery .head h3 {
  text-transform: uppercase;
  text-align: left
}

.ns-sigchi .gallery .thumb-img {
  max-width: var(--article-thumbnail-width);
  height: auto;
}
